* {
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #3D4043;
	font: 12px/1.55 Arial, Helvetica, sans-serif;
	text-align: center;
}

a {
	color: #004B91;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: 0 none;
}

h1,h2,h3,h4,h5,h6 {
	color: #004B91;
	line-height: 1.15;
	margin: 0 0 5px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
}

h2 {
	font-size: 18px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

h5 {
	font-size: 12px;
	font-weight: bold;
}

h6 {
	font-size: 11px;
	font-weight: bold;
}

form {
	display: inline;
}

fieldset {
	border: 0 none;
}

legend {
	display: none;
}

table {
	border: 0 none;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}

caption,th,td {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

p {
	margin: 0 0 10px;
}

strong {
	font-weight: bold;
}

ul,ol {
	list-style: none outside none;
}

.no-display {
	display: none;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-bg {
	background: none repeat scroll 0 0 transparent !important;
}

.wrapper {
	margin: 0 auto;
	width: 953px;
}

.page {
	
}

.main-container {
	background: none repeat scroll 0 0 transparent;
}

.main {
	margin: 0 auto;
	min-height: 400px;
	padding: 15px 0 20px;
	text-align: left;
	width: 953px;
}

.clear_both {
	clear: both;
	display: block;
	height: 0 !important;
	overflow: hidden;
}

.col-left {
	float: left;
	padding: 0;
	width: 204px;
}

.col-main {
	float: left;
	padding: 0;
	width: 510px;
}

.col-right {
	float: right;
	padding: 0;
	width: 204px;
}

.col1-layout .col-main {
	float: none;
	width: auto;
}

.col2-left-layout .col-main {
	float: right;
	margin: 0;
	width: 734px;
}

.col2-right-layout .col-main {
	margin: 0;
	width: 736px;
}

.col3-layout .col-main {
	margin-left: 0;
	width: 522px;
}

input,select,textarea,button {
	color: #585858;
	font: 12px/15px Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

input.input-text,select,textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #9DC4D8;
}

input.input-text,textarea {
	padding: 3px;
}

button.button::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

button.button {
	
}

button.button {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: auto;
}

button.button span {
	background: url("../images/btn_1.gif") no-repeat scroll 0 0 transparent;
	border: medium none;
	color: #00126F;
	display: block;
	font: 12px/22px Arial, Helvetica, sans-serif;
	height: 23px;
	padding: 0 0 0 14px;
	text-align: center;
	text-shadow: 1px 1px #A1A6AA;
	text-transform: none;
	white-space: nowrap;
}

button.disabled span {
	background: none repeat scroll 0 0 #BBBBBB !important;
	border-color: #BBBBBB !important;
}

.data-table {
	border: medium none;
	width: 100%;
}

.data-table .odd {
	background: none repeat scroll 0 0 transparent;
}

.data-table .even {
	background: none repeat scroll 0 0 #EEEEEE;
}

.data-table td {
	padding: 4px 8px;
}

.data-table thead th {
	background: none repeat scroll 0 0 #EEEEEE !important;
	border-right: medium none;
	color: #000000;
	font-weight: bold;
	padding: 6px 8px;
	vertical-align: middle;
	white-space: nowrap;
}

.data-table tfoot td {
	border-bottom: 0 none;
	border-right: 1px solid #CCCCCC;
	padding-bottom: 1px;
	padding-top: 1px;
}

.data-table tfoot strong {
	font-size: 16px;
}

.data-table tbody th {
	color: #000000;
	text-transform: none;
}

.data-table tbody th,.data-table tbody td {
	border-bottom: 1px dotted #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #000000;
}

.logo {
	float: left;
}

.header-container {
	background: none repeat scroll 0 0 transparent;
	border-bottom: medium none;
	border-top: medium none;
}

.header {
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: right;
	width: 953px;
	z-index: 10;
}

.header .logo {
	margin: 0;
	text-decoration: none !important;
}

.header .logo strong {
	font-size: 0;
	height: 0;
	left: -999em;
	line-height: 0;
	overflow: hidden;
	position: absolute;
	text-indent: -999em;
	top: -999em;
	width: 0;
}

.header h1.logo {
	margin: 0;
}

.header .quick-access {
	float: right;
	font-size: 11px;
	margin-top: 5px;
	padding: 0;
	width: 608px;
}

.header .welcome-msg {
	color: #E47911;
	float: right;
	font-weight: bold;
	margin: 0;
	text-align: right;
}

.header .welcome-msg a {
	color: #EBBC58;
}

.header .form-search {
	background: none repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 23px;
	margin-top: 14px;
	padding: 0;
	position: relative;
	width: 228px;
	z-index: 12;
}

.header .form-search label {
	float: left;
	height: 0;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
	width: 0;
}

.header .form-search input.input-text {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #83ABC6 -moz-use-text-color #83ABC6 #83ABC6;
	border-image: none;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 1px;
	color: #A1A1A1;
	display: block;
	float: left;
	font-size: 11px;
	height: 15px;
	padding: 3px 4px;
	width: 162px;
}

.header .form-search button.button {
	background: url("../images/btn_search.gif") no-repeat scroll 0 0
		transparent;
	border: medium none;
	display: block;
	float: right;
	height: 23px;
	margin-left: 0;
	width: 57px;
}

.header .form-search button.button span {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #FFFFFF;
}

.header .form-search button.button span span {
	color: #FFFFFF;
	text-indent: -9999em;
}

.header .form-search .search-autocomplete {
	left: 40px !important;
	top: 22px !important;
	z-index: 999;
}

.header .form-search .search-autocomplete ul {
	background-color: #F9F5F0;
	border: 1px solid #5C7989;
}

.header .form-search .search-autocomplete li {
	border-bottom: 1px solid #F4EEE7;
	cursor: pointer;
	padding: 2px 8px 1px;
	text-align: left;
}

.header .form-search .search-autocomplete li .amount {
	float: right;
	font-weight: bold;
}

.header .form-search .search-autocomplete li.odd {
	background-color: #FFFEFB;
}

.header .form-search .search-autocomplete li.selected {
	background-color: #F7E8DD;
}

.header .form-language {
	clear: both;
	padding: 5px 0 0;
	text-align: right;
}

.header .form-language label {
	color: #A7C6DD;
	font-weight: bold;
	padding-right: 5px;
	vertical-align: middle;
}

.header .form-language select {
	padding: 0;
}

.header .form-language select.flags option {
	background-position: 4px 50%;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.header .links {
	float: right;
	margin: 0;
}

.header .links li {
	background: url("../images/bg_toplinks.gif") no-repeat scroll right
		center transparent;
	float: left;
	font-size: 11px;
	padding: 0 7px 0 5px;
}

.header .links a {
	color: #146EB4;
}

.header-container .top-container {
	clear: both;
	padding: 5px 10px 0 12px;
	text-align: right;
}

.header-container .top-container a {
	color: #EBBC58;
	font-size: 11px;
}

.left_header {
	float: left;
	margin: 0;
	width: 341px;
}

.nav-container {
	background: none repeat scroll 0 0 #146EB4;
	border-radius: 7px 7px 0 0;
	width: 953px;
}

#nav2 {
	float: left;
	padding-left: 5px;
	height: 40px;
}

#nav2 li {
	background: url("../images/bg_li_block.gif") no-repeat scroll right
		center transparent;
	float: left;
	padding: 6px 12px 6px 11px;
}

#nav2 li.last {
	background: none repeat scroll 0 0 transparent;
}

#nav2 li a {
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 25px;
	padding: 0 0 0 12px;
}

#nav2 li a span {
	cursor: pointer;
	display: block;
	padding: 0 12px 0 0;
}

#nav2 li a:hover {
	background: url("../images/left_linav2.gif") no-repeat scroll left
		center transparent;
	display: block;
	height: 27px;
}

#nav2 li a:hover span {
	background: url("../images/right_linav2.gif") no-repeat scroll right
		center transparent;
	display: block;
	float: left;
	height: 27px;
}

#nav2 li.active a {
	background: url("../images/left_linav2.gif") no-repeat scroll left
		center transparent;
	display: block;
	height: 27px;
}

#nav2 li.active a span {
	background: url("../images/right_linav2.gif") no-repeat scroll right
		center transparent;
	display: block;
	float: left;
	height: 27px;
}

.sidebar .paypal-logo {
	display: block;
	margin: 10px 0;
	text-align: center;
}

.sidebar .paypal-logo a {
	float: none;
}

.banner_free {
	margin-bottom: 17px;
}

.product-collateral {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
}

.product-collateral h2 {
	color: #E47911;
	display: block;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 19px;
	padding: 0;
	text-transform: none;
}

.product-collateral .box-collateral {
	border-bottom: 1px dotted #DDDDDD;
	margin: 0 0 2px;
	padding: 14px 14px 19px;
}

.footer-container {
	border-top: medium none;
}

.footer {
	margin: 0 auto;
	padding: 10px 0 12px;
	width: 953px;
}

.footer-top {
	background: url("../images/bg_topfooter.gif") repeat-x scroll left top
		#FFFFFF;
	border: 1px solid #B6CEDF;
	border-radius: 7px 7px 7px 7px;
	padding: 13px 13px 20px;
}

.footer-right {
	background: url("../images/bg_topfooter.gif") repeat-x scroll left top
		#FFFFFF;
	border: 1px solid #B6CEDF;
	border-radius: 7px 7px 7px 7px;
	padding: 13px 13px 20px;
	text-align: right;
}

.block-footer-1,.block-footer-2 {
	width: 272px;
}

.block-footer-1 {
	padding-left: 0 !important;
}

.block-footer {
	border-right: 1px solid #E3E3E3;
	float: left;
	height: 148px;
	padding-left: 17px;
	padding-right: 17px;
	text-align: left;
}

.block-footer-4 {
	border-right: 0 none !important;
	float: right;
	padding-right: 0;
}

.block-footer-3,.block-footer-4 {
	width: 137px;
}

.block-footer .block-footer-title {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	line-height: normal;
	padding: 0;
}

.block-footer .block-footer-title strong {
	color: #E47911;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
}

.block-footer-content {
	color: #666666 !important;
	padding: 12px 0 0;
}

.block-footer h2 {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
}

.block-footer h2 span {
	font-style: italic;
}

.block-footer-2 p {
	color: #004B91 !important;
	padding-bottom: 8px;
}

.block-footer p {
	color: #3D4043;
	font-size: 11px;
	margin: 0;
	text-align: left;
}

.footer-container .footer .block-footer-3 li {
	background: url("../images/bg_li.gif") no-repeat scroll 0 7px
		transparent;
	display: block;
	padding-bottom: 7px;
	padding-left: 12px;
}

.footer-container .footer .block-footer li a {
	color: #004B91;
	font-size: 11px;
}

.footer-container .footer .block-footer li a:hover {
	color: #E47911;
	text-decoration: underline;
}

.footer-container .footer .block-footer-4 li {
	padding-bottom: 7px;
}

.footer-container .footer .block-footer li {
	display: block;
}

.footer-container .footer .block-footer-4 li {
	padding-bottom: 7px;
}

.footer-container .footer .block-footer-4 a img {
	margin-right: 5px;
	vertical-align: middle;
}

img {
	border: 0;
}

.footer-bottom {
	color: #666666;
	padding-top: 12px;
	text-align: left;
}

.footer address span {
	color: #004B91;
}

.footer address {
	color: #555555;
	font-size: 11px;
}

.footer address a {
	color: #004B91;
	text-decoration: none;
}

.clearer:after,.header-container:after,.header-container .top-container:after,.header:after,.header .quick-access:after,#nav:after,.main:after,.footer:after,.footer-container .bottom-container:after,.col-main:after,.col2-set:after,.col3-set:after,.col3-layout .product-options-bottom .price-box:after,.col4-set:after,.search-autocomplete li:after,.block .block-content:after,.block .actions:after,.block li.item:after,.block-poll li:after,.block-layered-nav .currently li:after,.page-title:after,.products-grid:after,.products-list li.item:after,.box-account .box-head:after,.dashboard .box .box-title:after,.box-reviews li.item:after,.box-tags li.item:after,.pager:after,.sorter:after,.ratings:after,.add-to-box:after,.add-to-cart:after,.product-essential:after,.product-collateral:after,.product-view .product-img-box .more-views ul:after,.product-view .box-tags .form-add:after,.product-view .product-shop .short-description:after,.product-view .box-description:after,.product-options .options-list li:after,.product-options-bottom:after,.product-review:after,.cart:after,.cart-collaterals:after,.cart .crosssell li.item:after,.opc .step-title:after,.checkout-progress:after,.multiple-checkout .place-order:after,.group-select li:after,.form-list li:after,.form-list .field:after,.buttons-set:after,.page-print .print-head:after,.advanced-search-summary:after,.gift-messages-form .item:after,.send-friend .form-list li p:after
	{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

.company-statement, .edit-form {
	border: 1px solid #9DC4D8;
	border-radius: 7px 7px 7px 7px;
	padding-left: 1.5em;
	margin: 0;
}

h1.title {
	color: #006690;
	line-height: 1.5em;
	border-bottom: medium none;
	clear: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 120%;
}

.product-collateral {
	border-top: 1px dotted #DDDDDD;
	margin: 0 0 2px;
	padding: 14px 14px 19px;
}

img.product-img {
	width: 134px;
	height: 160px;
}

span.td-bold {
	font-weight: bold;
}

.input-block {
	display: block;
	width: 50%;
}

.auth-form-body {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-box-sizing: border-box;
	background-color: #FFFFFF;
	border-color: white #D8DEE2 #D8DEE2;
	border-image: none;
	border-radius: 0 0 4px 4px;
	border-right: 1px solid #D8DEE2;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	padding: 20px;
}

.auth-form-body .input-block {
	margin-bottom: 15px;
	margin-top: 5px;
}

.auth-form-body p.small_notice {
	display: inline;
	padding: 0 10px;
}

.auth-form-header {
	background-image: url("../images/bg_topfooter.gif");
	background-repeat: repeat-x;
	border: 1px solid #9DC4D8;
	border-radius: 4px 4px 0 0;
	color: #FFFFFF;
	margin: 0;
	padding: 10px 20px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.auth-form-body input {
	-moz-box-sizing: border-box;
	background-color: #FFFFFF;
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #333333;
	min-height: 34px;
	outline: medium none;
	padding: 7px 8px;
	transition: all 0.15s ease-in 0s;
	vertical-align: middle;
}

.auth-form-body input label {
	font-size: 13px;
}

.auth-form-header h1 {
	font-size: 16px;
}

.datalist {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 1px #CCCCCC;
}

.datalist tbody tr:hover {
	background: none repeat scroll 0 0 #FBF8E9;
	transition: all 0.1s ease-in-out 0s;
}

.datalist td,.datalist thead {
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding: 10px;
	text-align: left;
}

.datalist thead {
	background-color: #DCE9F9;
	background-image: -moz-linear-gradient(center top, #EBF3FC, #DCE9F9);
	border-top: medium none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.datalist td:first-child {
	border-left: medium none;
}

.sortrow td {
	border-bottom-style: none;
}

.sortqbf td {
	border-top-style: none;
}

}
.datalist tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
}

.datalist tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
}

.qbf , .edit-input{
	padding-left: 1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-family: helvetica, arial, sans serif;
	padding-left: 1px;
	font-size: 12px;
	width: 15em;
}

.alt {
	background: none repeat scroll 0 0 #DFDFDF;
}

.edit-form .field {
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
	margin-top: 5px;
	padding: 5px;
}

.edit-input {
	margin-left: 150px;
	font-size:17px;width:15em
}